p {
  margin-left: 10px;
}
.details-film {
  margin-left: 10px;
}
button {
  margin-bottom: 10px;
  margin-left: 10px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}
input {
  padding: 10px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
textarea {
  padding: 10px;
  margin-top: 10px;
}
.delete-button {
  background-color: red;
}
h1 {
  margin-left: 10px;
}
